*{
    box-sizing: border-box;}

    @font-face{
    font-family: "JockeyOne";
    src: url(font/JockeyOne-Regular.ttf);
    }
    @font-face {
    font-family: "Rubik";
    src: url(font/Rubik/Rubik-VariableFont_wght.ttf);
    }

body{
    height:100vh;
    width: 100vw;
    background-color: rgba(46, 92, 229, 1);
    overflow: hidden;}

.main{
    padding: 65px;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin: 4%;
    background-color: rgba(153, 172, 229, 1);
    border: 1.5px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    font-family: "JockeyOne";}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;}

.logo{
    position: relative;
    display: flex;
    top: 9%;
    left: 4%;
    transform: translate(-50%,-50%);
    margin-left: 40px;}

.titulo{
    display: flex;
    align-items: center;
    font-family: "JockeyOne";
    position: absolute;
    top: 7%;
    left: 49%;
    transform: translate(-50%,-50%);
    font-size: 400%;
    color:  rgba(236, 236, 236, 1);}

.square {
    left: 10.7%;
    top: 50%;
    transform: translate(-50%,18.5%);
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 1.25%;
    margin-right: 1.25%;
    margin-top: 2%;

    width: 22%;
    border-radius: 12px;
    background-color: rgba(236, 236, 236, 1);
    display: inline-block;
    font-family: "JockeyOne";
    font-weight: bold;
    border-color: black;
    border: 1.5px;
    border-style: solid;}

.paciente {
    left: 5%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 2, 128);
    font-size: 160%;}

.legendas {
    display: flex;
    top: 10.5%;
    left: 67%;
    position: absolute;
    transform: translate(-50%,-50%);}

.atendimento{
    padding-top: 2%;
    font-family: "Rubik";
    left: 5%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 2, 128);
    font-size: 120%;}

.nome{
    font-family: "Rubik";
    left: 15%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgba(46, 92, 229, 1);
    font-size: 140%;}

.status{
    padding-top: 2%;
    font-family: "Rubik";
    left: 5%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 2, 128);
    font-size: 120%;}

.nascimento{
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: "Rubik";
    left: 5%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 2, 128);
    font-size: 120%;}

.hora{
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: "Rubik";
    margin-left: 5%;
    margin-right: 1%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 2, 128);
    font-size: 120%;}

.linha{
    width: 100%;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.A{
    padding: 1%;
    left: 90%;
    width: 7%;
    align-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.B{
    padding: 1%;
    left: 90%;
    width: 7%;
    align-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.C{
    padding: 1%;
    left: 90%;
    width: 7%;
    align-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.D{
    padding: 1%;
    left: 90%;
    width: 7%;
    align-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.hide{
    display: none;}